.product-cards {
    margin-left: 80px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px;
}

.product-image {
    width: 480px;
    height: 178px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product-card {
    height: 320px;
    background: none;
    border-radius: 4px;
    overflow: hidden;
}

.intro{
    height: 70px;
    width: 300px;
    position: relative;
    box-sizing: border-box;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;
}

h1{
    margin: 10px;
    font-size: 30px;
}

/* p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
} */

.product-card:hover{
    cursor: pointer;
}

.product-card:hover .intro{
    height: 120px;
    bottom: 40px;
    background: black;
}

.product-card:hover p{
    opacity: 1;
    visibility: visible;
}

.product-card:hover a{
    transform: scale(1.1) rotate(-3deg);
}

.no-image {
    color: #999999;
    text-align: center;
    margin-bottom: 10px;
}

.product-details h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-details p {
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: #008000;
}
